/venv/
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/u05.iml
/.idea/vcs.xml
/.idea/.gitignore
/pgadmin_data/
/app/.pytest_cache/
app/__pycache__/test_main.cpython-39-PYTEST.pyc
.pytest_cache/v/cache/lastfailed
app/.coverage
app/__pycache__/__init__.cpython-39.pyc
*.pyc
app/tests/.pytest_cache/v/cache/lastfailed
