asyncpg==0.22.0
fastapi[all]
ormar==0.10.5
psycopg2-binary[binary]
uvicorn==0.13.4
urllib3==1.22
pytest==3.4.2
pytest-cov==2.5.1
attrs==19.1.0
requests[security] == 2.9.1
psycopg[binary]
python-dotenv==0.19.2
pylint
flake8
flake8-import-order